---
layout: default
---

<section class='main-content'>
    {% assign today_date = 'now' | date: '%s' %}
    <h1 class="module title color-2 text-color-white">Upcoming meetings</h1>
    {% for post in paginator.posts %}
      {% assign post_date = post.date | date: '%s' | plus:86400 | date: '%s' %}
      {% if today_date < post_date %}
        {% include post_summary.html %}
      {% endif %}
    {% endfor %}
    <h1 class="module title color-2 text-color-gray">Past meetings</h1>
    {% for post in paginator.posts %}
      {% assign post_date = post.date | date: '%s' | plus:86400 | date: '%s' %}
      {% if today_date > post_date %}
        {% include post_summary_past.html %}
      {% endif %}
    {% endfor %}

    <div class='module pagination color-2'>
        {% if paginator.previous_page %}
            <a href='{{ site.url }}{{ paginator.previous_page_path }}' class='previous text-color-white'>Previous</a>
        {% endif %}

        <span class='page_number text-color-white'>
            &mdash; {{ paginator.page }} of {{ paginator.total_pages }} &mdash;
        </span>

        {% if paginator.next_page %}
            <a href='{{ site.url }}{{ paginator.next_page_path }}' class='next text-color-white'>Next</a>
        {% endif %}
    </div>

</section>
