<a class="post-summary" href='{{ fullUrl }}{{ post.url }}' title='{{ post.title }}'>
  <article class='module color-white'>
      <header>
          <div class="info-row">
            <span class='date text-color-highlight-alt'>{{ post.date | date: '%m/%d/%Y' }}</span>
            <span class='categories text-color-subdued'>{{ post.categories | array_to_sentence_string }}</span>
          </div>
          <div class="info-row">
            <span class='text-color-highlight-alt'>{{ post.time}}</span>
          </div>
          <div class="info-row">
            <span class='text-color-highlight-alt'>{{ post.location}}</span>
          </div>
          <h2 class="text-color-black">
                  {{ post.title }}
          </h2>
      </header>

      <div class="row">
        {% if post.image %}
          <img src="assets/images/{{post.image}}" />
        {% else %}
          <img src="assets/images/black-placeholder.sq.jpg" />
        {% endif %}
        <p class="text-color-black">{{ post.summary | strip_html }}</p>
      </div>
  </article>
</a>
