
/* ------------------------------------------------------------------------
-   SASS variables.
-------------------------------------------------------------------------*/

$screamin-green         : #61FF7E;
$light-carmine-pink     : #E85D75;
$pale-lavender          : #E3D7FF;
$vivid-cerulean         : #00A7E1;
$tuscany                : #B6A39E;
$isabelline             : #F2EFEA;
$gunmetal               : #292F36;
$silver-pink            : #C9ADA1;
$pale-silver            : #C4BBB8;
$olive-drab             : #3D3522;
$umber                  : #584D3D;
$pastel-brown           : #916953;
$sand                   : #C1AE7C;
$trolley-grey           : #797B84;
$dark-puce              : #4B3B40;
$taupe-gray             : #92898A;

$brand-primary-color: $olive-drab;
$brand-secondary-color: $umber;
$brand-tertiary-color: $pastel-brown;
$brand-fourth-color: $sand;
$brand-fifth-color: $pale-silver;
$brand-highlight-color: $silver-pink;
$brand-highlight-alt-color: $light-carmine-pink;
$brand-subdued-color: $taupe-gray;


$brand-white: $isabelline;
$brand-gray: $pale-silver;
$brand-black: $dark-puce;
$background-color: $isabelline;
$link-color: $olive-drab;

$font-stack: "Open Sans", sans-serif;
$font-size: 18px;
